<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new user</title>
</head>
<body>
    <form method="post" action="/user/new">
        <input name="email" type="email" placeholder="enter email" />
        <input name="username" type="text" placeholder="enter username" />
        <input name="password" type="password" placeholder="enter password" />
        <button>submit</button>
    </form>
</body>
</html>